*.spec.ts
*.spec.js
*.iml
.cache/
coverage/
debug/
docs/
.babelrc
.codeclimate.yml
.eslintrc
.gitignore
.travis.yml
gulpfile.babel.js
jsdoc.json
karma.conf.js
LICENSE_BANNER
TODO.md
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
